<div class="uds-image-text-block-container">
  <div class="uds-image-text-block-image-container">
     {{ image }}
  </div>
  <div class="uds-image-text-block-text-container  {{ background_color }}">
    {{ heading }}
    <h4>{{ sub_heading }}</h4>
    <p>{{ content }}</p>
    <div class="row">
      <div class="col-12 col-md-6 py-1">
        {{ first_cta }}
      </div>
      <div class="col-12 col-md-6 py-1">
        {{ second_cta }}
      </div>
    </div>
  </div>
</div>

