<div class="uds-card-image-and-content">
  <div class="uds-card-image-and-content-image-container" style="background-image: linear-gradient(180deg, #19191900 0%, #191919c9 100%), url({{ image_background }});">
  </div>
  <div class="uds-card-image-and-content-content-container uds-content-align">
    <div class="uds-card-image-and-content-content-container-headline {{ heading_color }} uds-content-align">
      {{ heading }}
    </div>
    <div class="content {{ text_color }}">
      {{ content }}
    </div>
    {{ card }}
  </div>
</div>
