<div class="uds-card-arrangement {{ class_layout }}">
  <div class="uds-card-arrangement-content-container {{ text_color }}">
    <h2>{{ heading }}</h2>
    {{ text }}
    {{ cta }}
  </div>
  <div class="uds-card-arrangement-card-container {{ not class_layout ? 'auto-arrangement' }} {{ not class_layout ? columns }}">
    {{ cards }}
  </div>
</div>
