<div class="uds-image-overlap {{ class_position }}">
 {# <img class="img-fluid" src="{{ image }}" />#}
  {{ image }}
  <div class="content-wrapper">
    {{ heading }}
    {{ content }}
  </div>
</div>
