<a 
    href="{{ url }}" 
    class="btn{{ size }} btn-{{ color }}"
    data-ga-event="link"
    data-ga-action="click"
    data-ga-name="onclick"
    data-ga-type="internal link"
    data-ga-section="{{ label }}"
    data-ga-region="main content"
    data-ga-text="default button">{{ label }}</a>