<a 
  href="{{ url }}"
  data-ga-event="link"
  data-ga-action="click"
  data-ga-name="onclick"
  data-ga-type="internal link"
  data-ga-section="{{ heading }}"
  data-ga-region="main content"
  data-ga-text="link icon">
  <i class="{{ icon_style }} {{ icon_name }} {{ icon_settings }} uds-grid-links-icon"></i>
  {{ title }}
</a>

