<li>{{ list_item }}
  {% if level_2 is not empty %}
  <ul class="uds-list">{{ level_2 }}</ul>
  {% endif %}
  {% if level_3 is not empty %}
    <ul class="uds-list">{{ level_3 }}</ul>
  {% endif %}
  {% if level_4 is not empty %}
    <ul class="uds-list">{{ level_4 }}</ul>
  {% endif %}
  {% if level_5 is not empty %}
    <ul class="uds-list">{{ level_5 }}</ul>
  {% endif %}
  {% if level_6 is not empty %}
    <ul class="uds-list">{{ level_6 }}</ul>
  {% endif %}
</li>
