<li>{{ list_item }}
  {% if level_2 is not empty %}
  <ol class="uds-list">{{ level_2 }}</ol>
  {% endif %}
  {% if level_3 is not empty %}
    <ol class="uds-list">{{ level_3 }}</ol>
  {% endif %}
  {% if level_4 is not empty %}
    <ol class="uds-list">{{ level_4 }}</ol>
  {% endif %}
  {% if level_5 is not empty %}
    <ol class="uds-list">{{ level_5 }}</ol>
  {% endif %}
  {% if level_6 is not empty %}
    <ol class="uds-list">{{ level_6 }}</ol>
  {% endif %}
</li>
