<section class="{{ background_color }}">
  <div class="container" role="banner">
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
          <div class="banner-icon">
            <span title="Banner">
              {{ icon }}
            </span>
          </div>
          <div class="banner-content">
            {{ heading }}
            <div class="mt-3">{{ banner_text }}</div>
          </div>
          <div class="banner-buttons">
            {{ ctas }}
          </div>
          <div id="banner-close" class="banner-close">
            <button 
              type="button" 
              class="btn btn-circle btn-circle-alt-black close" 
              aria-label="Close"
              data-ga-event="modal"
              data-ga-action="close"
              data-ga-name="onclick"
              data-ga-type="click"
              data-ga-section="{{ title }}"
              data-ga-region="main content"
              data-ga-text="close cross"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ attach_library('renovation/banners') }}

