<a
  href="{{ url }}"
  class="btn {{ button_color }}"
  role="button"
  target="{{ target }}"
  data-ga-event="link"
  data-ga-action="click"
  data-ga-name="onclick"
  data-ga-type="internal link"
  data-ga-section="{{ sub_heading is empty ? heading : sub_heading }}"
  data-ga-region="main content"
  data-ga-text="default button">
  <span class="fas fa-{{ icon }}"></span>
  &nbsp;&nbsp;{{ title }}
</a>
