{#
/**
 * @file
 * Template for the main page.
 */
#}
{% if page.header %}
  <header>
      {{ page.header }}
  </header>
{% endif %}
{% set unpublished = is_published is same as '0' ? 'node--unpublished' : '' %}
<main>
  <div class="page page-wrapper-webspark {{ unpublished }}">
    <div class="pt-5 pb-5">

      {% if page.pre_content %}
        <div class="page__pre-content center-container max-size-container">
          <div class="container">
            {{ page.pre_content }}
          </div>
        </div>
      {% endif %}

      {% if page.content %}
        <div id="skip-to-content" class="page__content center-container max-size-container">
          {{ page.content }}
        </div>
      {% endif %}
    </div>
  </div>
</main>
{% if page.footer %}
  <footer class="page__footer" id="asu-footer" role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
