{#
/**
 * @file
 * Template for an accordion block.
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}
  <div class="container">
  {# WS2-1437 Add unique id value #}
  {% set unique_id = block.id.value %}
    <div class="accordion mb-3 mt-3" id="accordion-{{ unique_id }}">
      <!-- WS2-1437 - remove extra border wrap <div class="card mb-0"> -->
        {# Hide color select field as not imp-lemented yet.#}
        {{ content|without('field_color') }}
    </div>
  </div>
</div>
