{#
/**
 * @file
 * Template for a banner block.
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}
  {% include '@renovation/banners/banners.twig' with {
    background_color: content.field_banner_background_color,
    icon: content.field_icon,
    heading: content.field_heading,
    banner_text: content.field_banner_text,
    ctas: content.field_ctas
  } %}
</div>
