{#
/**
 * @file
 * Template for a accordion block.
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

{% set unique_label = configuration['label'] %}
{% set unique_id = unique_label|replace({' ': '-'}) %}

<div{{ attributes|without('id').addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}
  {{ content.field_anchor_menu_settings }}
  {% block content %}
    <div id="{{ attributes.id }}">
      {{ content.field_tooltip }}
      {{ content|without('field_tooltip', 'field_anchor_menu_settings', 'field_card_orientation', 'field_layout') }}
    </div>
  {% endblock %}
</div>
