{#
/**
 * @file
 * Template for a video block.
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}


<div{{ attributes.addClass(classes) }}>
  {# To allow contextual links to display the title_suffix is required. #}
  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}
  {{ content.field_anchor_menu_settings }}
  {{ content.field_tooltip }}
  {{ content|without('field_tooltip', 'field_anchor_menu_settings', 'field_image_caption') }}
  {% if content.field_image_caption|render %}
    <div class="uds-video-container uds-video-with-caption">
      <figure>
        <figcaption>{{ content.field_image_caption }}</figcaption>
      </figure>
    </div>
  {% endif %}

</div>