{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

{{ attach_library('webspark_isearch/isearch') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}
  <div class="clas-isearch-view" data-config='{
    "type":"customList",
    "defaultPhoto":"{{ defaultPhoto }}",
    "endpointURL":"/isearch/?",
    "displayType":"default",
    "ids":[
      {{ ids }}
    ],
    "sourceIds":[{{ sourceIds }}],
    "showPhoto":{{ block.field_show_photo.value ? 'true' : 'false'}},
    "showTitle":{{ block.field_show_title.value ? 'true' : 'false'}},
    "showBio":{{ block.field_show_bio.value ? 'true' : 'false'}},
    "showEmail":{{ block.field_show_email.value ? 'true' : 'false'}},
    "showPhone":{{ block.field_show_phone.value ? 'true' : 'false'}}
    }'>iSearch block
  </div>
</div>
