<nav aria-label="breadcrumbs" class="container px-0 {{ spacing_top }} {{ spacing_bottom }}">
  {% if links is not empty %}
    <ol class="breadcrumb {{ bg_color }}">
      {% for link in links %}
        <li class="breadcrumb-item">
          <a href="{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
</nav>
